---
pagination:
  data: locales
  size: 1
  alias: localeCode
permalink: "/{{ localeCode }}/news/index.html"
layout: base.njk
activePage: news
eleventyComputed:
  lang: "{{ localeCode }}"
---


<section class="page-header">
  <div class="container">
    <h1>News &amp; Updates</h1>
    <p>Follow the progress of the Knowledge Ark Initiative.</p>
  </div>
</section>

<section class="section">
  <div class="container" style="max-width:800px">
    <ul class="article-list" id="news-list">
      {% set articles = collections.article %}
      {% if articles %}
        {% for item in articles | reverse %}
          {% if item.page.lang == localeCode %}
            <li class="article-item">
              <span class="article-date">{{ item.date | dateIso }}</span>
              <div>
                <a href="{{ item.url }}" class="article-title">{{ item.data.title }}</a>
                {% if item.data.excerpt %}
                <p class="article-excerpt">{{ item.data.excerpt }}</p>
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      {% else %}
        <li><p>{{ "news.no_articles" | t(locales, localeCode) }}</p></li>
      {% endif %}
    </ul>
  </div>
</section>
